:root {
  --site-main-color: #f4c016;
}

.radius-small {
  border-radius: 12px;
}

.brackets {
  transition: color .3s ease;
  color:#f8f9fa;
}

/* set display of the hover over nav link to show the brackets */
#demo:hover > .brackets { 
  color: var(--site-main-color);
}

.jumbo {
  margin-top: 150px;
  margin-bottom: 100px;
}
/* test */

.dev-pic {
  margin-top: 50px;
  margin-bottom: 75px;
}

.info-divider {
  margin-top: 15px;
  margin-bottom: 0;
}

.my-work {
  margin-top: 75px;
  margin-bottom: 25px;
}

.border-division {
  border-bottom:5px solid var(--site-main-color);
}

.navbar {
  background-color:white; 
  border-top:var(--site-main-color) solid 4px;
}

.font-icon {
  color: var(--site-main-color);
}

.circle {
  display: inline-block
}
.illustration {
  width: 180px;
  margin-left: -20px;
}

.illustration-header {
  display: inline-block;
  padding-left: 20px;
  font-size: 80px
}

/* BEGIN card shadow and hover raise */
.raise:hover,
.raise:focus {
  /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em); */
  -ms-transform: translate(0, -5px); /* IE 9 */
  -webkit-transform: translate(-0, -5px); /* Safari */
  transform: translate(0, -5px);
  box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2);
}

.raise {
  /* border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.25s; */
  box-shadow: 0 6px 28px -4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: #fff;
  padding: 24px 10px;
  margin-left: 20px;
  margin-right: 20px;
  transition: box-shadow .25s, transform .25s;
}
/* END card shadow and hover raise */


/* BEGIN card button hover */
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 15px white;
}

.fill {
  background-color: var(--site-main-color);
  color: white;
  transition: 0.35s;
  border-color: var(--site-main-color);
  border-width: 2px;
}

.fill {
  transition: 0.5s;
}

.fill:hover, .fill:focus {
  border-width: 2px;
  border-color: var(--site-main-color);
  background-color: white;
  color: var(--site-main-color); 
}


/* END card button hover */



