
:root {
  --site-main-color: #f4c016;
  --border-radius-main: 12px;
  --icon-color: #212529;
}

.margin-fix-github-btn {
  margin-top: 4px;
  margin-bottom: 4px;
}

.skills-separator {
  font-weight: 400;
  color: var(--site-main-color);
}

/* .test {
  display:inline;
  float: right;
} */

.inline-block-style {
  display: inline-block;
}

.dev-pic {
  height:350px;
  width:250px;
}

.jumbo {
  padding-bottom: 100px;
  padding-top: 150px;
}

.info-divider {
  margin-top: 15px;
  margin-bottom: 0;
}

.my-work {
  margin-top: 75px;
  margin-bottom: 25px;
}

.about-me {
  margin-top: 100px;
  margin-bottom: 25px;
}

/* sets color for most icons */
.font-icon {
  color: var(--site-main-color);
}


/* ----------------------------------------
  NAVBAR
 ---------------------------------------- */
.navbar-toggler{
  outline-color: white;
  border-color: white;
}

.navbar-toggler:focus {
  outline-color: white;
  border-color: var(--site-main-color);
}

.navbar {
  background-color:white; 
  border-top: var(--site-main-color) solid 4px;
  transition: box-shadow .40s;

}

.navbar-shadow {
  box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.2);
}

.brackets {
  transition: color .3s ease;
  color:white;
}

.envelope {
  color: var(--site-main-color);
  padding-left: 6px;
}


/* .nav-link:hover > .envelope{
  color: var(--site-main-color);
} */

/* set display of the hover over nav link to show the brackets */
.nav-link:hover > .brackets { 
  color: var(--site-main-color);
}

/* links for the navbar so that when one is clicked it is focused with brackets */
.nav-link:focus > .brackets { 
  color: var(--site-main-color);
}



/* ----------------------------------------
   PROFILE HEAD
   ---------------------------------------- */
.profile-head {
  
}

.profile-head__circle {
  vertical-align: top;
  height: 180px;
  margin-left: -20px;
  display: inline-block;
}

.profile-head__title {
  display: inline-block;
  margin: 20px 0 0 20px;
  font-size: 80px;
  line-height: 70px;
}

@media only screen and (max-width: 576px) {
  .profile-head__circle {
    margin-left: -10px;
    height: 130px;
  }
  
  .profile-head__title {
    margin-left: 0;
    font-size: 50px;
    line-height: 45px;
    margin-left: 10px;
  }
}


/* ----------------------------------------
  CARDS
 ---------------------------------------- */

 /* github icon */
.github-link {
  float: right;
}

.github-link:hover {
  color: var(--icon-color);
  color: var(--site-main-color);
}

.card-img-top {
  border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
}

/* BEGIN card shadow and hover raise */
.card:hover,
.card:focus {
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(-0, -3px); /* Safari */
  transform: translate(0, -3px);
  /* box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.2); */
  box-shadow: 0 10px 20px -1px rgba(0, 0, 0, 0.2);
}

.card {
  /* box-shadow: 0 6px 28px -4px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 4px 15px -1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  transition: box-shadow .25s, transform .25s;
}
/* END card shadow and hover raise */


.btn-fill {
  background-color: white;
  color: var(--site-main-color);
  transition: 0.35s;
  border-color: var(--site-main-color);
  border-width: 2px;
  transition: 0.35s;
}

.btn-fill:hover, .btn-fill:focus {
  box-shadow: inset 0 0 0 15px var(--site-main-color);
  border-width: 2px;
  border-color: var(--site-main-color);
  background-color: var(--site-main-color);
  color: white; 
}

/* icon fill */
.btn-icon-fill {
  color: var(--icon-color);
  transition: 0.35s;
}

.btn-icon-fill:hover, .btn-icon-fill:focus {
  background-color: white;
  color: var(--site-main-color); 
}
/* END card button hover */


/* ------------------------------
BEGIN FOOTER
-------------------------------- */
.btn-fill-footer {
  background-color: var(--icon-color);
  color: var(--site-main-color);
  transition: 0.35s;
  border-color: var(--site-main-color);
  border-width: 2px;
  transition: 0.35s;
}

.btn-fill-footer:hover, .btn-fill-footer:focus {
  box-shadow: inset 0 0 0 15px var(--site-main-color);
  border-width: 2px;
  border-color: var(--site-main-color);
  background-color: var(--site-main-color);
  color: var(--icon-color); 
}


.footer {
  height: 150px;
  border-top: 6px solid var(--site-main-color);
  background: var(--icon-color);
}
