.radius-small {
    border-radius: 12px;
}

.brackets {
  color: orange;
  display: none;
}

/* set display of the hover over nav link to show the brackets */
#demo:hover > .brackets { 
  display: inline;
 }

 .jumbo {
   margin-top:100px;
 }