
:root {
  /* --site-main-color: #f4c016; */
  --site-main-color: #3716f4b2;
  --border-radius-main: 12px;
  --icon-color: #212529;
  --footer-color: #f4f4f4;
}



/* ----------------------------------------
  UTILITY
 ---------------------------------------- */

.pad-top-lg {
  padding-top: 150px;
}

.pad-top-md {
  padding-top: 100px;
}

/* sets color for most icons */
.font-icon {
  color: var(--site-main-color);
}

.git-size-links {
  font-size: 20px;
}
/* ----------------------------------------
  NAVBAR
 ---------------------------------------- */
.navbar-toggler{
  outline-color: white;
  border-color: white;
}

.navbar-toggler:focus {
  outline-color: white;
  border-color: var(--site-main-color);
}

.navbar {
  background-color:white; 
  border-top: var(--site-main-color) solid 4px;
  transition: box-shadow .40s;

}

/* this is an added class and is used in script.js for scrolling */
.navbar-shadow {
  box-shadow: 0 2px 15px -2px rgba(0, 0, 0, 0.2);
}

.brackets {
  transition: color .3s ease;
  color:white;
}

.envelope {
  color: var(--site-main-color);
  padding-left: 6px;
}

/* set display of the hover over nav link to show the brackets */
.nav-link:hover > .brackets { 
  color: var(--site-main-color);
}

/* links for the navbar so that when one is clicked it is focused with brackets */
.nav-link:focus > .brackets { 
  color: var(--site-main-color);
}



/* ----------------------------------------
   INTRODUCTION
   ---------------------------------------- */

.intro__profile-img {
  vertical-align: top;
  height: 180px;
  margin-left: -20px;
  display: inline-block;
}

.intro__name {
  display: inline-block;
  margin: 20px 0 0 20px;
  font-size: 80px;
  line-height: 70px;
}

.intro__separator {
  font-weight: 400;
  color: var(--site-main-color);
}

@media only screen and (max-width: 576px) {
  .intro__profile-img {
    margin-left: -10px;
    height: 130px;
  }
  
  .intro__name {
    margin-left: 0;
    font-size: 50px;
    line-height: 45px;
    margin-left: 10px;
  }
}


/* ----------------------------------------
  MY WORK
 ---------------------------------------- */

 /* github icon */
.github-link {
  float: right;
}

.github-link:hover {
  color: var(--icon-color);
  color: var(--site-main-color);
}

.card-img-top {
  border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;
}

.card {
  box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  border: none;
  transition: box-shadow .25s, transform .25s;
}

.card:hover,
.card:focus {
  -ms-transform: translate(0, -3px); /* IE 9 */
  -webkit-transform: translate(-0, -3px); /* Safari */
  transform: translate(0, -3px);
  box-shadow: 0 8px 20px -1px rgba(0, 0, 0, 0.2);
}


/* ----------------------------------------
  BUTTONS
 ---------------------------------------- */

.btn-fill {
  background-color: white;
  color: var(--site-main-color);
  transition: 0.35s;
  border-color: var(--site-main-color);
  border-width: 2px;
  transition: 0.35s;
  font-weight: bold;
}

.btn-fill:hover, .btn-fill:focus {
  box-shadow: inset 0 0 0 20px var(--site-main-color);
  border-width: 2px;
  border-color: var(--site-main-color);
  background-color: var(--site-main-color);
  color: white; 
}

.btn-icon-fill {
  color: var(--icon-color);
  transition: 0.35s;
}

.btn-icon-fill:hover, .btn-icon-fill:focus {
  background-color: white;
  color: var(--site-main-color); 
}

/* ------------------------------
  PROJECTS PAGES
-------------------------------- */
.btn-previous-projects {
  margin-right:30px;
}

.btn-next-projects {
  margin-left: 30px; 
  padding-right: 29px; 
  padding-left: 29px; 
}

.project-title {
  display: inline-block;
}

.project-demo-link {
  display: inline-block; 
  float: right;
}

@media only screen and (max-width: 576px) {
  .project-demo-link {
    margin: 15px 0;
    display: block; 
    float: left;
  }
}


.projects-demo-icon {
  margin-left: 3px;
}

.projects-link-margin {
  margin-right: 12px;
}

/* ------------------------------
  FOOTER
-------------------------------- */
.btn-fill-footer {
  background-color: var(--footer-color);
  color: var(--site-main-color);
  transition: 0.35s;
  border-color: var(--site-main-color);
  border-width: 2px;
  transition: 0.35s;
}

.btn-fill-footer:hover, .btn-fill-footer:focus {
  box-shadow: inset 0 0 0 30px var(--site-main-color);
  border-width: 2px;
  border-color: var(--site-main-color);
  background-color: var(--site-main-color);
  color: var(--footer-color); 
}

footer {
  background: #f4f4f4;
  padding: 30px 0 60px 0;
}

.footer-icon-separator {
  margin-right:50px; margin-left:50px;
}